*,
*::before,
*::after,
body, html {
  font-family: Inter;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  padding-top: 80px;
}

@media only screen and (max-width: 990px) {
  body {
    padding-top: 54px;
  }
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
}

.overlay--hidden {
  display: none;
}

.page-container {
  padding: 0 18rem;
}

.nav {
  height: 80px;
  padding: 10px;
}

.item {
  font-size: 18px;
  color: unset;
  cursor: pointer;
  margin-left: 36px;
}

.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #003D3D;
  background-color: #F2F2F2;
  cursor: pointer;
  padding: 0.93333em;
  border: none;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
}

.btn--small {
  display: block;
  padding: inherit;
  background-color: inherit;
  border-radius: 6px;
  z-index: 2;
}

.btn--big {
  padding: 18px 30px 18px 30px;
  font-size: 18px;
}

.btn--round {
  border-radius: 50%;
}

.btn--green {
  background-color: #00D681;
  color: #003D3D;
}

.btn--green:hover {
  background-color: #3dffb2;
}

.btn--transparent {
  background-color: rgba(242, 242, 242, 0.3);
}

.btn--transparent:hover {
  background-color: rgba(242, 242, 242, 0.2);
}

.btn--width {
  width: 100%;
}

.input {
  padding: 1rem;
  background: #F2F2F2;
  font-weight: 600;
  font-size: 1rem;
  color: #333333;
  border: none;
  border-radius: 8px;
  width: 100%;
}

.input-field {
  position: relative;
}

.input-field .input__label {
  font-size: 1rem;
  position: absolute;
  left: 0;
  top: 15%;
  margin-left: 1.2rem;
  margin-top: 0.7rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  pointer-events: none;
}

.input__sub {
  display: block;
  margin: 0.9rem 0 2rem;
  text-align: right;
  color: #333333;
  font-weight: 500;
}

.input:focus, .input:valid {
  outline: none;
}

.input:focus ~ label, .input:valid ~ label {
  top: 0;
  font-size: 0.7rem;
}

.input--height {
  padding: 1.5rem 1.2rem 1rem;
}

.img {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.line-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-prev:before {
  content: '';
  width: 2rem;
  height: 2px;
  background: #BDBDBD;
  margin-right: 0.5rem;
}

.link--after-row:after {
  display: inline-block;
  margin-left: 0.5rem;
  content: '>';
  color: inherit;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 1679px) {
  .page-container {
    padding: 0 15rem;
  }
}

@media only screen and (max-width: 1380px) {
  .page-container {
    padding: 0 8rem;
  }
}

@media only screen and (max-width: 990px) {
  .page-container {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 652px) {
  .btn--big {
    margin: 0.2em;
    font-size: 12px;
  }
  .page-container {
    padding: 0 2rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  top: 0;
  z-index: 5;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
}

.header-left {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.header-left-burger {
  display: none;
}

.header-left__logo {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.header-left__logo::before {
  display: block;
  content: '';
  background: url(../img/logo.svg);
  width: 45px;
  height: 38px;
}

.header-left__logo::after {
  display: block;
  content: '';
  background: url(../img/logo-label.svg);
  width: 60px;
  height: 35px;
  margin-left: 13px;
}

.header-left__nav {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  margin-left: 142px;
}

.header-left__nav-item {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
}

.header-mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  height: 100vh;
  width: 85vw;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-mobile-nav__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 36px;
}

.header-mobile-nav__nav-item {
  font-size: 16px;
  margin: unset;
  margin-bottom: 24px;
  color: #333333;
}

.header-mobile-nav__signup-btn {
  width: 103px;
  height: 48px;
}

.header-mobile-nav__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  width: 100%;
  height: 62px;
  border-bottom: 1px solid #F2F2F2;
}

.header-mobile-nav__close-btn {
  padding: 0 20px 0 20px;
  width: 16px;
  height: 16px;
  background-color: white;
  border: none;
}

.header-mobile-nav__close-btn::after {
  display: block;
  content: '';
  background: url(../img/close.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.header-mobile-nav--hidden {
  left: -100vw;
}

.header-right {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.header-right__nav {
  display: inherit;
  z-index: 10;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.header-right__nav-item {
  font-size: 16px;
  font-weight: normal;
  color: #4F4F4F;
  margin-left: 16px;
}

.header-right__nav--hide {
  display: none;
}

.header-right-btns {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  margin-left: 18px;
}

.header-right-btns__more-btn {
  display: none;
  padding: 1rem 0.6rem;
}

.header-right-btns__more-btn::after {
  display: block;
  content: '';
  background: url(../img/more.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 4px;
  z-index: 3;
}

.header-right-btns__search {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 344px;
  height: 48px;
  background-color: #F2F2F2;
  z-index: 4;
}

.header-right-btns__search-field {
  font-weight: normal;
  font-size: 16px;
  border: none;
  background-color: #F2F2F2;
  width: calc(344px - 20px);
}

.header-right-btns__search--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-right-btns__search-btn {
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.header-right-btns__search-btn::after {
  display: block;
  content: '';
  background: url(../img/search.svg);
  background-size: 24.4px;
  height: 24.4px;
  width: 24.4px;
  z-index: 3;
}

.header-right-btns__search-btn--action {
  margin-left: 0;
  background-color: #F2F2F2;
}

.header-right-btns__search-btn--hide {
  display: none;
}

.header-right-btns__close-btn {
  border: none;
  cursor: pointer;
}

.header-right-btns__close-btn::after {
  display: block;
  content: '';
  background: url(../img/close.svg);
  background-size: 20px;
  height: 20px;
  width: 20px;
  z-index: 3;
}

.header-right-btns__signup-btn {
  margin-left: 16px;
}

.footer {
  padding: 1.3rem 3rem;
  border-top: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.footer__logo::before {
  display: block;
  content: '';
  background: url(../img/logo.svg);
  width: 45px;
  height: 38px;
}

.footer__logo::after {
  display: block;
  content: '';
  background: url(../img/logo-label.svg);
  width: 60px;
  height: 35px;
  margin-left: 13px;
}

.footer-nav {
  color: #333333;
}

.footer-nav__item {
  font-size: 0.9rem;
  font-weight: 500;
}

.footer-socials__item + .footer-socials__item {
  margin-left: 1.3rem;
}

.burger-toggle {
  display: block;
  cursor: pointer;
}

.burger-toggle input {
  display: none;
}

.burger-toggle input + div {
  width: 20px;
  height: 14px;
  position: relative;
}

.burger-toggle input + div div {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.burger-toggle input + div div span {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.burger-toggle input + div div span:first-child {
  top: 0;
}

.burger-toggle input + div div span:first-child:before, .burger-toggle input + div div span:first-child:after {
  top: 0;
}

.burger-toggle input + div div span:last-child {
  bottom: 0;
}

.burger-toggle input + div div span:last-child:before, .burger-toggle input + div div span:last-child:after {
  bottom: 0;
}

.burger-toggle input + div div span:before, .burger-toggle input + div div span:after {
  content: '';
  display: block;
  width: 47%;
  height: 2px;
  border-radius: 1px;
  background: #4F4F4F;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -webkit-transition: border-radius .3s ease, background .4s ease, -webkit-transform .5s ease;
  transition: border-radius .3s ease, background .4s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, border-radius .3s ease, background .4s ease;
  transition: transform .5s ease, border-radius .3s ease, background .4s ease, -webkit-transform .5s ease;
}

.burger-toggle input + div div span:before {
  left: 0;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transform: translate(1px, 0) scaleX(1.1);
          transform: translate(1px, 0) scaleX(1.1);
}

.burger-toggle input + div div span:after {
  right: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: translate(-1px, 0) scaleX(1.1);
          transform: translate(-1px, 0) scaleX(1.1);
}

.burger-toggle input + div svg {
  display: block;
  fill: none;
  stroke: #4F4F4F;
  stroke-width: 2px;
  width: 44px;
  height: 44px;
  stroke-linecap: round;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -22px 0 0 -22px;
  stroke-dasharray: 0 82.801 8 82.801;
  stroke-dashoffset: 82.801;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, stroke .4s ease, -webkit-transform .5s ease;
  transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, stroke .4s ease, -webkit-transform .5s ease;
  transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease, stroke .4s ease;
  transition: stroke-dashoffset .5s ease, stroke-dasharray .6s ease, transform .5s ease, stroke .4s ease, -webkit-transform .5s ease;
}

.burger-toggle input + div svg:nth-child(3) {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
}

.burger-toggle input:checked + div div {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.burger-toggle input:checked + div div span:before, .burger-toggle input:checked + div div span:after {
  background: #4F4F4F;
}

.burger-toggle input:checked + div div span:first-child:before {
  -webkit-transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
          transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
}

.burger-toggle input:checked + div div span:first-child:after {
  -webkit-transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
          transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
}

.burger-toggle input:checked + div div span:last-child:before {
  -webkit-transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
          transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
}

.burger-toggle input:checked + div div span:last-child:after {
  -webkit-transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
          transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
}

.burger-toggle input:checked + div svg {
  stroke-dashoffset: 62;
  stroke-dasharray: 0 82.801 62 82.801;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  stroke: #4F4F4F;
}

.burger-toggle input:checked + div svg:nth-child(3) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

@media only screen and (max-width: 1380px) {
  .header-right-btns__more-btn {
    display: block;
    padding: 1rem 0.6rem;
  }
  .header-right-btns__search {
    position: fixed;
    top: 100px;
    left: 2%;
    width: 96%;
  }
  .header-right-btns__search #search-field {
    width: inherit;
  }
  .header-right__nav {
    display: none;
    position: absolute;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 100px;
    background-color: #F2F2F2;
    padding: 10px 20px;
    border-radius: 6px;
  }
  .header-right__nav-item {
    display: block;
    margin: 8px 0px;
    text-align: left;
  }
  .header-right__nav--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-left__nav {
    margin-left: 10px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-nav {
    margin: 1rem;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-nav__item {
    margin: 1rem;
  }
}

@media only screen and (max-width: 990px) {
  .header {
    height: 54px;
    padding: 0 15px;
  }
  .header-left__nav {
    display: none;
  }
  .header-left__logo {
    margin-left: 50px;
  }
  .header-left-burger {
    display: block;
  }
  .header-right-btns__signup-btn {
    display: none;
  }
  .header-right-btns__more-btn {
    display: none;
  }
  .header #search-btn {
    background-color: white;
  }
  .header #search-btn.header-right-btns__search-btn--hide {
    display: block;
    opacity: 0;
    z-index: -5;
  }
  .footer-nav__copy {
    display: block;
  }
}

.page-donat-section {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: white;
}

.page-donat-section--gray {
  background: #F2F2F2;
}

.page-donat-section__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #BDBDBD;
}

.page-donat-section__subtitle {
  width: 80%;
  margin-bottom: 3rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.page-donat-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-donat-stat-item {
  text-align: center;
}

.page-donat-stat-item__value {
  letter-spacing: -2px;
  color: #333333;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  padding: 0 0.7rem;
  white-space: nowrap;
}

.page-donat-stat-item__report {
  color: #00D681;
}

.page-donat-stat-item__description {
  color: #4F4F4F;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.page-donat-stat-report {
  cursor: pointer;
  margin-left: 8rem;
}

.page-donat-paymentsistems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-donat-paymentsistems-item {
  min-width: 300px;
  width: 32%;
  background: url("../img/Frame-background-payment-sistems.png") no-repeat center;
  border-radius: 12px;
  padding: 1.25rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-donat-paymentsistems-item__maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.5rem;
}

.page-donat-paymentsistems-item__maincontent_img {
  height: 6.25rem;
  padding: 0.75rem 10rem;
}

.page-donat-paymentsistems-item__maincontent_title {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 140%;
  text-align: center;
  letter-spacing: -0.02em;
  color: white;
}

.page-donat-paymentsistems-item__description {
  cursor: pointer;
  width: 90%;
  text-decoration: none;
  text-align: right;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: white;
}

.page-donat-paymentsistems-item__description span {
  background: url("../img/list-marker.svg");
}

.page-donat-donate-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.page-donat-donate-list__col {
  max-width: 50%;
  width: 100%;
}

.page-donat-donate-list__col + .page-donat-donate-list__col {
  margin-left: 1rem;
}

.page-donat-donate-item {
  background: #F2F2F2;
  padding: 2rem;
  margin: 1rem 0;
}

.page-donat-donate-item__text {
  margin-bottom: 2.5rem;
  line-height: 1.5rem;
}

.page-donat-donate-item__cost {
  color: #00D681;
  font-weight: 700;
}

.page-donat-donate-item__date {
  color: #BDBDBD;
  float: right;
}

.page-donat-donate__action {
  display: inline;
}

.page-donat-downloadmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
}

.page-donat-downloadmore__btn {
  cursor: pointer;
  width: 11rem;
  height: 4rem;
  background-color: #00D681;
  border-radius: 6px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #003D3D;
}

@media only screen and (max-width: 1200px) {
  .page-donat-section__subtitle {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .page-donat-stat {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-donat-stat-item {
    min-width: 20%;
    margin-bottom: 2rem;
  }
  .page-donat-stat-item__value {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .page-donat-stat-report {
    margin-left: 0;
  }
  .page-donat-donate-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-donat-donate-list__col {
    max-width: 100%;
  }
  .page-donat-donate-list__col + .page-donat-donate-list__col {
    margin-left: 0rem;
  }
  .page-donat-donate-item__text {
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
  }
  .page-donat-donate-item__cost {
    color: #00D681;
    font-weight: 700;
  }
  .page-donat-donate-item__date {
    color: #BDBDBD;
  }
  .page-donat-donate__action {
    display: inline;
  }
  .page-donat-paymentsistems {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-donat-paymentsistems-item {
    min-width: 25rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 990px) {
  .page-donat-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .page-donat-section__subtitle {
    width: 100%;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .page-donat-section__subtitle {
    font-size: 1.5rem;
  }
  .page-donat-stat-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .page-donat-paymentsistems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.page-user {
  padding-top: 5rem;
  padding-bottom: 25rem;
  background-color: #F2F2F2;
}

.page-user-container {
  padding: 0 18rem;
}

.page-user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-user-profile_bottom {
  margin-bottom: 83px;
}

.page-user-profile__user-wrap {
  width: 378px;
}

.page-user-profile__img {
  background: url(../img/page-user/page-user-avatar.jpg) no-repeat;
  min-width: 192px;
  width: 192px;
  height: 192px;
  margin-right: 60px;
  border-radius: 50%;
}

.page-user-profile__title {
  font-size: 30px;
  color: #333333;
  line-height: 36px;
  margin-bottom: 8px;
}

.page-user-profile__skills {
  font-size: 16px;
  color: #828282;
  line-height: 140%;
  margin-bottom: 23px;
}

.page-user-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-user-status__rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  font-size: 18px;
  color: #00D681;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-decoration: none;
  cursor: pointer;
}

.page-user-status__rank-icon {
  margin-right: 7px;
}

.page-user-status__rating {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.page-user-status_bottom {
  margin-bottom: 14px;
}

.page-user-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-user-btn__edit {
  color: #333333;
  padding: 14px 24px;
  font-size: 16px;
  border: none;
  background-color: #FAFAFA;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 16px;
}

.page-user-btn__message {
  color: #333333;
  padding: 14px 24px;
  font-size: 16px;
  border: none;
  background-color: #FAFAFA;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 204px;
  cursor: pointer;
}

.page-user-btn__message_telegram {
  margin-right: 10px;
}

.page-user-projects_container {
  padding: 0 18rem;
}

.page-user-projects-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin-bottom: 4.375em;
}

.page-user-projects-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #E0E0E0;
  top: 140%;
}

.page-user-projects-menu__item {
  list-style-type: none;
  margin-right: 64px;
}

.page-user-projects-menu__link {
  text-decoration: none;
  color: #828282;
  font-size: 18;
  font-weight: 500;
  line-height: 150%;
}

.page-user-projects-menu__link_active {
  color: #333333;
}

.page-user-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-user-card {
  max-width: 428px;
  min-width: 300px;
  width: 32%;
  margin-bottom: 3rem;
  -webkit-box-shadow: 0 4px 3px #ededed;
          box-shadow: 0 4px 3px #ededed;
  background-color: white;
}

.page-user-card__img {
  width: 100%;
  background-size: cover;
}

.page-user-card__content-wrap {
  padding: 30px;
}

.page-user-card__title {
  font-weight: 800;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 17px;
}

.page-user-card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
}

.page-user-card__link {
  text-decoration: none;
  color: #BDBDBD;
  display: block;
  text-align: right;
  font-size: .9rem;
}

.page-user-card__link::after {
  content: ">";
  display: inline-block;
  margin-left: .5rem;
  color: inherit;
}

@media (max-width: 1480px) {
  .page-user-container {
    padding: 0 8rem;
  }
}

@media (max-width: 886px) {
  .page-user {
    padding-bottom: 5rem;
  }
  .page-user-container {
    padding: 0 8rem;
  }
  .page-user-profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .page-user-profile__img {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .page-user-profile__user-wrap {
    width: 100%;
  }
  .page-user-status {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-user-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 911px) {
  .page-user-projects-menu__item {
    margin-right: 28px;
  }
}

@media only screen and (max-width: 610px) {
  .page-user-container {
    padding: 0 2rem;
  }
  .page-user-btn__edit {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .page-user-btn__message {
    min-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-users {
  background: red;
}

.page-list-content {
  display: block;
  z-index: 0;
}

.page-list-content-list-header {
  background: url(../../img/list_header.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 18.75rem;
}

.page-list-content-list-header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 20rem;
  height: 51%;
}

.page-list-content-list-header-row__h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 108%;
  letter-spacing: -0.02em;
  color: white;
  width: 100%;
}

.page-list-content-list-header-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0rem 20rem;
  height: 60%;
}

.page-list-content-list-header-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 47%;
}

.page-list-content-list-header-col-1__h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  color: white;
}

.page-list-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F2F2F2;
  width: 100%;
  padding: 5rem 18.75rem;
}

.page-list-content-wrapper-sidebar {
  position: relative;
  display: block;
  max-width: 12rem;
  padding: 0rem;
  margin-right: 9rem;
  margin-bottom: 3.8rem;
}

.page-list-content-wrapper-sidebar-close {
  height: 3.25rem;
  width: 3.25rem;
  background: #f2f2f2;
  border-radius: 4px;
  top: 1rem;
  right: 1rem;
  position: absolute;
  display: none;
}

.page-list-content-wrapper-sidebar-filters li {
  list-style-type: none;
}

.page-list-content-wrapper-sidebar-filters ul {
  margin: 0rem;
}

.page-list-content-wrapper-sidebar-filters-section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  padding: 1.375rem 0rem 0rem 0rem;
  line-height: 100%;
  color: #4F4F4F;
  list-style-type: none;
}

.page-list-content-wrapper-sidebar-filters-section-title ul {
  font-weight: normal;
  color: grey3;
}

.page-list-content-wrapper-sidebar-filters-section-title ul li {
  margin: 0.75rem;
}

.page-list-content-wrapper-sidebar-filters-section-title-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.page-list-content-wrapper-sidebar-menutitle__h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 160%;
  color: #333333;
  letter-spacing: -0.02em;
}

.page-list-content-wrapper-conteiner {
  width: 100%;
  max-width: 62.5rem;
  padding: 0.5rem;
}

.page-list-content-wrapper-conteiner-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5rem;
}

.page-list-content-wrapper-conteiner-top-search {
  width: calc(100% - 60px);
  border-radius: 4px;
  background-color: #E0E0E0;
  padding: 0.9rem;
}

.page-list-content-wrapper-conteiner-top-search-field {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-list-content-wrapper-conteiner-top-search-field-icon {
  background: url(../../img/search.svg);
  width: 20px;
  height: 20px;
  margin-right: 0.6rem;
}

.page-list-content-wrapper-conteiner-top-search-field-input {
  width: 80%;
  padding: 0.1rem;
  background-color: #E0E0E0;
  border: none;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter {
  width: 52px;
  background-color: #E0E0E0;
  border-radius: 4px;
  padding: 0.9rem;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter-field {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-icon {
  background: url(../../img/settings.svg) no-repeat;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  margin-top: 0.1rem;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter-field-text {
  padding: 0.2rem;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter {
  display: none;
  width: 25%;
  background-color: #E0E0E0;
  border-radius: 4px;
  padding: 0.9rem;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter-field {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter-field-icon {
  background: url(../../img/menu.svg) no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 0.6rem;
}

.page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter-field-text {
  padding: 0.2rem;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #4F4F4F;
}

.page-list-content-wrapper-conteiner-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.page-list-content-wrapper-conteiner-row :nth-child(2) {
  margin: 0 1.25rem;
  margin-bottom: 3.8rem;
}

.page-list-content-wrapper-conteiner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-list-content-wrapper-conteiner-row-col :nth-child(2) {
  margin: 0;
}

.page-list-content-wrapper-conteiner-row-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 3.8rem;
}

.page-list-content-wrapper-conteiner-row-col-imgconteiner {
  width: 100%;
  border-radius: 4px;
}

.page-list-content-wrapper-conteiner-row-col-imgconteiner-img {
  border-radius: 4px 4px 0px 0px;
  width: 100%;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-list-content-wrapper-conteiner-row-col-inside {
  margin: 0 0 0 0;
  padding: 0 1.25rem 1.25rem;
  letter-spacing: -0.02em;
}

.page-list-content-wrapper-conteiner-row-col-inside__h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  padding: 1rem 0rem;
}

.page-list-content-wrapper-conteiner-row-col-inside-description {
  margin: 0 0 0 0;
  font-size: 14px;
  font-style: normal;
  line-height: 140%;
  color: #4F4F4F;
}

.page-list-content-wrapper-conteiner-row-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
}

.page-list-content-wrapper-conteiner-row-download-btn {
  text-decoration: none;
  padding: 1.475rem 3rem;
  background-color: #00D681;
  border-radius: 6px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #003D3D;
}

@media only screen and (max-width: 1679px) {
  .page-list-content-list-header-row {
    padding: 1.5rem 10rem;
  }
  .page-list-content-list-header-col {
    padding: 0rem 10rem;
  }
  .page-list-content-wrapper {
    padding: 3rem 10rem;
  }
  .page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter {
    display: none;
  }
}

@media only screen and (max-width: 1380px) {
  .page-list-content-list-header-row {
    padding: 1.5rem 5rem;
  }
  .page-list-content-list-header-col {
    padding: 0rem 5rem;
  }
  .page-list-content-wrapper {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3rem 5rem;
  }
  .page-list-content-wrapper-sidebar-close {
    display: block;
  }
  .page-list-content-wrapper-conteiner {
    width: 100%;
    max-width: none;
  }
  .page-list-content-wrapper-conteiner-top-filtercontaiber {
    justify-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-list-content-wrapper-conteiner-top-filtercontaiber-makefilter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .page-list-content-wrapper-conteiner-top-filtercontaiber-chosefilter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 52px;
  }
  .page-list-content-wrapper-conteiner-top-search {
    width: calc(100% - 120px);
  }
  .page-list-content-wrapper-conteiner-row-col {
    width: 100%;
  }
  .page-list-content-wrapper-sidebar {
    display: none;
    width: 100%;
    max-width: none;
    padding: 1rem;
    background: #FFF;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 9;
    left: 0;
  }
}

@media only screen and (max-width: 990px) {
  .page-list-content-list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    padding-bottom: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
  }
  .page-list-content-list-header-row {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3rem 2.5rem;
    height: 30%;
  }
  .page-list-content-list-header-row__h1 {
    font-size: 42px;
  }
  .page-list-content-list-header-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 70%;
    padding: 0rem 2.5rem;
  }
  .page-list-content-list-header-col-1 {
    width: 100%;
  }
  .page-list-content-list-header-col-1__h3 {
    font-size: 22px;
  }
  .page-list-content-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem 1rem;
  }
  .page-list-content-wrapper-sidebar {
    display: none;
    width: 100%;
    max-width: none;
    padding: 1rem;
    background: #FFF;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 9;
    left: 0;
  }
  .page-list-content-wrapper-conteiner-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-list-content-wrapper-conteiner-top-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(100% - 120px);
  }
  .page-list-content-wrapper-conteiner-top-search-field {
    width: 100%;
  }
  .page-list-content-wrapper-conteiner-top-search-field-input {
    width: 100%;
  }
  .page-list-content-wrapper-conteiner-top-makefilter {
    font-size: 16;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    min-width: 0px;
    width: 52px;
  }
  .page-list-content-wrapper-conteiner-top-chosefilter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    min-width: 0px;
    margin-left: 8px;
    width: 52px;
  }
  .page-list-content-wrapper-conteiner-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 530px) {
  .page-list-content-list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    padding-bottom: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: cover;
  }
  .page-list-content-list-header-row {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3rem 2.5rem;
    height: 30%;
  }
  .page-list-content-list-header-row__h1 {
    font-size: 42px;
  }
  .page-list-content-list-header-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 70%;
    padding: 0rem 2.5rem;
  }
  .page-list-content-list-header-col-1 {
    width: 100%;
  }
  .page-list-content-list-header-col-1__h3 {
    font-size: 22px;
  }
  .page-list-content-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2rem 1rem;
  }
  .page-list-content-wrapper-sidebar {
    display: none;
    width: 100%;
    max-width: none;
    padding: 1rem;
    background: #FFF;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 9;
    left: 0;
  }
  .page-list-content-wrapper-conteiner-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-list-content-wrapper-conteiner-top-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(100% - 120px);
  }
  .page-list-content-wrapper-conteiner-top-search-field {
    width: 100%;
  }
  .page-list-content-wrapper-conteiner-top-search-field-input {
    width: 100%;
  }
  .page-list-content-wrapper-conteiner-top-makefilter {
    font-size: 16;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    min-width: 0px;
    width: 52px;
  }
  .page-list-content-wrapper-conteiner-top-chosefilter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    min-width: 0px;
    margin-left: 8px;
    width: 52px;
  }
  .page-list-content-wrapper-conteiner-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.page-main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/contentHeaderBg.png) no-repeat;
  background-size: cover;
  height: 100%;
  min-height: calc(100vh - 80px);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page-main-header__title {
  font-style: normal;
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 5rem;
  letter-spacing: -0.02em;
  color: white;
  margin-bottom: 1.5rem;
}

.page-main-header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-main-header-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.page-main-header-col-1__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 160%;
  color: white;
  margin-bottom: 6rem;
}

.page-main-header-col-1__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.page-main-header-col-1__actions .btn + .btn {
  margin-left: 32px;
}

.page-main-header-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-main-header-col-2__watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-main-header-col-2__watch #play-video {
  display: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 10rem;
  padding: 2.8rem;
}

.page-main-header-col-2__watch #play-video::after {
  display: block;
  content: '';
  background: url(../img/play.svg) no-repeat center center;
  background-size: contain;
  width: 100%;
  height: 100%;
  margin-left: 14px;
}

.page-main-header-col-2__watch .play-video-btn-label {
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #F2F2F2;
  text-align: center;
  opacity: 0.9;
  margin-top: 40px;
}

.page-main-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: white;
}

.page-main-section--gray {
  background: #F2F2F2;
}

.page-main-section__title {
  color: #BDBDBD;
  font-weight: 500;
  font-size: 1.5rem;
}

.page-main-section__subtitle {
  width: 80%;
  color: #333333;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.page-main-about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-main-about-content-block {
  margin-bottom: 2rem;
}

.page-main-about-content-block__wrapper {
  width: 44%;
}

.page-main-about-content-block__title {
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.page-main-about-content-block__title span {
  color: #BDBDBD;
}

.page-main-about-content-block__text {
  color: #4F4F4F;
  line-height: 1.5rem;
}

.page-main-projects__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page-main-projects__all {
  display: block;
  text-align: right;
  color: #333333;
  text-decoration: none;
}

.page-main-projects-item {
  min-width: 300px;
  width: 32%;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0px 4px 3px #ededed;
          box-shadow: 0px 4px 3px #ededed;
}

.page-main-projects-item__wrapper {
  padding: 1.6rem;
  background: white;
}

.page-main-projects-item__img {
  width: 100%;
  background-size: cover;
}

.page-main-projects-item__title {
  font-size: 1.3rem;
  color: #333333;
  margin-bottom: 1rem;
}

.page-main-projects-item__text {
  color: #4F4F4F;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.page-main-projects-item__link {
  color: #BDBDBD;
  text-decoration: none;
  display: block;
  text-align: right;
  font-size: 0.9rem;
}

.page-main-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-main-stat-item {
  text-align: center;
}

.page-main-stat-item__value {
  letter-spacing: -2px;
  color: #333333;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  padding: 0 0.7rem;
  white-space: nowrap;
}

.page-main-stat-item__description {
  color: #4F4F4F;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.page-main-donate-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.page-main-donate-list__col {
  max-width: 50%;
  width: 100%;
}

.page-main-donate-list__col + .page-main-donate-list__col {
  margin-left: 1rem;
}

.page-main-donate-item {
  background: #F2F2F2;
  padding: 2rem;
  margin: 1rem 0;
}

.page-main-donate-item__text {
  margin-bottom: 2.5rem;
  line-height: 1.5rem;
}

.page-main-donate-item__cost {
  color: #00D681;
  font-weight: 700;
}

.page-main-donate-item__date {
  color: #BDBDBD;
  float: right;
}

.page-main-donate__action {
  display: inline;
}

.page-main-contributors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.page-main-contributors-list-col {
  max-width: 50%;
  width: 100%;
}

.page-main-contributors-list-col + .page-main-contributors-list-col {
  margin-left: 1rem;
}

.page-main-contributors-item {
  padding: 1.8rem;
  background: white;
  margin-bottom: 1rem;
}

.page-main-contributors-item-stack__title {
  color: #BDBDBD;
  margin-bottom: 4px;
}

.page-main-contributors-item-stack__value {
  line-height: 1.5rem;
}

.page-main-contributors-item-info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-main-contributors-item-info__avatar {
  margin-right: 1.8rem;
  width: 4rem;
  height: 4rem;
}

.page-main-contributors-item-info__name {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 700;
}

.page-main-contributors-item-info__status {
  color: #828282;
  margin-top: 4px;
}

.page-main-contributors-item-info__status--owner {
  color: #00D681;
}

.page-main-contributors-item-info__status--owner::before {
  content: '';
  display: inline-block;
  margin-right: 0.3rem;
  background: url("../img/cont_owner.svg") center center no-repeat;
  width: 1rem;
  height: 1rem;
  background-size: contain;
}

.page-main-contributors-item-info__status--sponsor {
  color: #FFB21C;
}

.page-main-contributors-item-info__status--sponsor::before {
  content: '';
  display: inline-block;
  margin-right: 0.3rem;
  background: url("../img/cont_sponsor.svg") center center no-repeat;
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

@media only screen and (max-width: 1200px) {
  .page-main-header__title {
    font-size: 3.5rem;
    line-height: 5rem;
  }
  .page-main-section__subtitle {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .page-main-stat {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-main-stat-item {
    min-width: 20%;
    margin-bottom: 2rem;
  }
  .page-main-stat-item__value {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .page-main-donate-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-main-donate-list__col {
    max-width: 100%;
  }
  .page-main-donate-list__col + .page-main-donate-list__col {
    margin-left: 0rem;
  }
  .page-main-donate-item__text {
    margin-bottom: 2.5rem;
    line-height: 1.5rem;
  }
  .page-main-donate-item__cost {
    color: #00D681;
    font-weight: 700;
  }
  .page-main-donate-item__date {
    color: #BDBDBD;
  }
  .page-main-donate__action {
    display: inline;
  }
  .page-main-contributors-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
  }
  .page-main-contributors-list-col {
    max-width: 100%;
  }
  .page-main-contributors-list-col + .page-main-contributors-list-col {
    margin-left: 0rem;
  }
  .page-main-contributors-item-info__avatar {
    width: 3rem;
    height: 3rem;
  }
  .page-main-contributors-item-info__name {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 990px) {
  .page-main-header {
    min-height: calc(100vh - 54px);
  }
  .page-main-header__title {
    font-size: 2.8rem;
    line-height: 4rem;
  }
  .page-main-header-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-main-header-col-1__subtitle {
    font-size: 1.5rem;
    margin-bottom: 1.8rem;
  }
  .page-main-header-col-1__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5rem;
  }
  .page-main-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .page-main-section__subtitle {
    width: 100%;
    font-size: 1.8rem;
  }
  .page-main-about-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-main-about-content-block__wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .page-main-header__title {
    font-size: 2rem;
    line-height: 150%;
  }
  .page-main-header-col-1__subtitle {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .page-main-header-col-1__actions {
    margin-bottom: 3rem;
  }
  .page-main-header-col-2__watch #play-video {
    width: 5rem;
    height: 5rem;
    padding: 1.4rem;
  }
  .page-main-header-col-2__watch #play-video::after {
    margin-left: 7px;
  }
  .page-main-section__subtitle {
    font-size: 1.5rem;
  }
  .page-main-about-content-block__title {
    font-size: 1rem;
  }
  .page-main-about-content-block__text {
    font-size: 0.9rem;
  }
  .page-main-stat-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .page-main-header__title {
    font-size: 1.5rem;
    line-height: 150%;
  }
  .page-main-header-col-1__subtitle {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
  .page-main-header-col-1__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
  .page-main-header-col-1__actions .btn {
    width: 70%;
    margin: 0.8rem auto !important;
  }
}

.page-about {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-about-sidebar {
  width: 420px;
  position: fixed;
}

.page-about-sidebar ol, .page-about-sidebar ul {
  list-style: none;
  counter-reset: li;
  margin-left: 1.2rem;
}

.page-about-sidebar ol li, .page-about-sidebar ul li {
  margin: 1.2rem 0;
  color: #333333;
}

.page-about-sidebar ol li a, .page-about-sidebar ul li a {
  color: #828282;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}

.page-about-sidebar ol li a.active, .page-about-sidebar ul li a.active {
  color: #333333;
  font-weight: 500;
}

.page-about-sidebar ol li:before, .page-about-sidebar ul li:before {
  counter-increment: li;
  content: counters(li, ".") " ";
}

.page-about-content {
  margin-left: 420px;
}

.page-about-content-block {
  margin-bottom: 5rem;
}

.page-about-content-block__title {
  padding: 0 1rem 0 0;
  width: 75%;
  color: #333333;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 2.2rem;
}

.page-about-content-block__content {
  color: #4F4F4F;
  line-height: 2rem;
}

.page-about-content-block__content .accent--green {
  color: #00D681;
}

.page-about-content-block__content p + p {
  margin: 1rem 0;
}

.page-about-content-block--grid4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-about-content-block--item {
  width: 50%;
  margin-bottom: 2.3rem;
}

.page-about-content-block--item .page-about-content-block__title {
  width: 100%;
  margin-bottom: 1rem;
}

.page-about-content-block--item .page-about-content-block__content a {
  display: block;
  color: #2F80ED;
  text-decoration: none;
  margin-bottom: 1rem;
}

.page-about-content-block--item:nth-last-child(1), .page-about-content-block--item:nth-last-child(2) {
  margin-bottom: 0;
}

@media only screen and (max-width: 1500px) {
  .page-about {
    padding: 0 10rem;
  }
}

@media only screen and (max-width: 1200px) {
  .page-about {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 990px) {
  .page-about {
    margin-top: 6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 3rem;
  }
  .page-about-sidebar {
    position: static;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
  .page-about-sidebar ol li {
    margin: 0.9rem 0;
  }
  .page-about-content {
    width: 100%;
    margin-left: 0;
  }
  .page-about-content-block {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 650px) {
  .page-about {
    padding: 0 1rem;
    margin-top: 4.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-about-content-block {
    margin-bottom: 1.2rem;
  }
  .page-about-content-block__title {
    width: 100%;
    font-size: 1.1rem;
  }
  .page-about-content-block--grid4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .page-about-content-block--grid4 .page-about-content-block {
    width: 100%;
    text-align: center;
  }
  .page-about-content-block--grid4 .page-about-content-block__content a {
    margin-bottom: 0.5rem;
  }
}

.page-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 80px);
  height: 100%;
  padding: 3rem 0;
}

.page-auth__content {
  max-width: 30rem;
  width: 100%;
  padding: 0 1rem;
}

.page-auth-selector {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-auth-selector__item {
  display: block;
  width: 50%;
  padding: 0.6rem;
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  color: #BDBDBD;
  overflow-wrap: break-word;
  border-bottom: 3px solid #F2F2F2;
}

.page-auth-selector__item.active {
  color: #003D3D;
  border-bottom: 3px solid #00D681;
}

.page-auth__auth-form .input-field {
  margin-top: 1rem;
}

.page-auth__error {
  text-align: center;
  margin-top: 1rem;
  color: #c70000;
}

.page-auth ~ .footer {
  display: none;
}

.page-auth input[type='submit'] {
  margin-top: 3rem;
}

@media only screen and (max-width: 652px) {
  .page-auth-selector__item {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 652px) {
  .page-auth-selector__item {
    font-size: 1rem;
  }
}

.page-login input[type='submit'] {
  margin-top: 0;
}

.page-reg__input-title {
  display: block;
  color: #828282;
  padding: 1rem 0;
  margin-left: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
}

.page-reg input[type='submit'] {
  margin-top: 3rem;
}

.page-get-invite {
  margin: 5rem 0;
}

.page-get-invite__text {
  margin-top: 2rem;
}
/*# sourceMappingURL=style.css.map */