<% var data = {
  title: "GrandCore | Страница",
  author: "Harrix"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-donat">

  <section class="page-donat-stat page-container page-donat-section">
      <div class="page-donat-stat-item">
        <p class="page-donat-stat-item__value">1 281 029 $</p>
        <p class="page-donat-stat-item__description">Собрали за все время</p>
      </div>

      <div class="page-donat-stat-item">
        <p class="page-donat-stat-item__value">8 920 $</p>
        <p class="page-donat-stat-item__description">Текущий фонд</p>
      </div>

      <div class="page-donat-stat-item">
        <p class="page-donat-stat-item__value">5 000 $</p>
        <p class="page-donat-stat-item__description">Дефицит бюджета</p>
      </div>
    
      <div class="page-donat-stat-item page-donat-stat-report" >
        <p class="page-donat-stat-item__value page-donat-stat-item__report">Отчёт</p>
        <p class="page-donat-stat-item__description">Спасибо всем спонсорам!</p>
      </div>


 </section>

 <section class="page-donat-paymentsistems page-container page-donat-section">


  <div class="page-donat-paymentsistems-item">
    <div class="page-donat-paymentsistems-item__maincontent">
      <img class="page-donat-paymentsistems-item__maincontent_img" src="../../img/yandex money.png"></img>
      <p class="page-donat-paymentsistems-item__maincontent_title">Яндекс.Деньги</p>
    </div>
    <p class="page-donat-paymentsistems-item__description">Пожертвовать<span class="page-donat-paymentsistems-item__description_marker"></span></p>
  </div>

  <div class="page-donat-paymentsistems-item">
    <div class="page-donat-paymentsistems-item__maincontent">
      <img class="page-donat-paymentsistems-item__maincontent_img" src="../../img/bitcoin.png"></img>
      <p class="page-donat-paymentsistems-item__maincontent_title">Bitcoin</p>
    </div>
    <p class="page-donat-paymentsistems-item__description">Пожертвовать<span class="page-donat-paymentsistems-item__description_marker"></span></p>
  </div>

  <div class="page-donat-paymentsistems-item">
    <div class="page-donat-paymentsistems-item__maincontent">
      <img class="page-donat-paymentsistems-item__maincontent_img" src="../../img/sberBank.png"></img>
      <p class="page-donat-paymentsistems-item__maincontent_title">Сбербанк</p>
    </div>
    <a class="page-donat-paymentsistems-item__description">Пожертвовать <span class="page-donat-paymentsistems-item__description_marker"></span></a>
  </div>


 </section>

  <section class="page-donat page-container page-donat-section">
    <h2 class="page-donat-section__title line-prev">помощь проекту</h2>
    <h3 class="page-donat-section__subtitle">Пожертвования</h3>

    <div class="page-donat-donate-list">
       <div class="page-donat-donate-list__col">
          <div class="page-donat-donate-item">
             <p class="page-donat-donate-item__text">
                Мы хотим вывести идеи Open Source на качественно новый уровень,
                создав
                фонд и удобную онлайн платформу для работы над любыми.
             </p>
             <div>
                <span class="page-donat-donate-item__cost">178$</span>
                <span class="page-donat-donate-item__date">08.08.2020</span>
             </div>
          </div>

          <div class="page-donat-donate-item">
             <p class="page-donat-donate-item__text">
                Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                для работы над любыми открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый
                уровень,
                создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.Мы хотим вывести идеи
                Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу для работы над любыми
                открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и
                удобную
                онлайн платформу для работы над любыми открытыми проектами.
                Cоздав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.
             </p>
             <div>
                <span class="page-donat-donate-item__cost">49$</span>
                <span class="page-donat-donate-item__date">08.08.2020</span>
             </div>
          </div>

          <div class="page-donat-donate-item">
            <p class="page-donat-donate-item__text">
               Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
               для работы над любыми открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый
               уровень,
               создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.Мы хотим вывести идеи
            </p>
            <div>
               <span class="page-donat-donate-item__cost">49$</span>
               <span class="page-donat-donate-item__date">08.08.2020</span>
            </div>
         </div>

         <div class="page-donat-donate-item">
          <p class="page-donat-donate-item__text">
             Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
             для работы над любыми открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый
             уровень,
             создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.Мы хотим вывести идеи
             Open Source на качественно новый уровень, создав фонд и
          </p>
          <div>
             <span class="page-donat-donate-item__cost">49$</span>
             <span class="page-donat-donate-item__date">08.08.2020</span>
          </div>
       </div>
       </div>

       <div class="page-donat-donate-list__col">
          <div class="page-donat-donate-item">
             <p class="page-donat-donate-item__text">
                Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                для работы над любыми открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый
                уровень,
                создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.
             </p>
             <div>
                <span class="page-donat-donate-item__cost">49$</span>
                <span class="page-donat-donate-item__date">08.08.2020</span>
             </div>
          </div>

          <div class="page-donat-donate-item">
             <p class="page-donat-donate-item__text">
                Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                для работы над любыми.
             </p>
             <div>
                <span class="page-donat-donate-item__cost">133$</span>
                <span class="page-donat-donate-item__date">08.08.2020</span>
             </div>
          </div>

          <div class="page-donat-donate-item">
             <p class="page-donat-donate-item__text">
                Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
                для работы над любыми открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый
                уровень,
                создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.
             </p>
             <div>
                <span class="page-donat-donate-item__cost">12$</span>
                <span class="page-donat-donate-item__date">08.08.2020</span>
             </div>
          </div>

          <div class="page-donat-donate-item">
            <p class="page-donat-donate-item__text">
               Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
               для работы над любыми открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый
               уровень,
               создав фонд и удобную онлайн платформу для работы над любыми открытыми проектами.
            </p>
            <div>
               <span class="page-donat-donate-item__cost">12$</span>
               <span class="page-donat-donate-item__date">08.08.2020</span>
            </div>
         </div>
         <div class="page-donat-donate-item">
          <p class="page-donat-donate-item__text">
             Мы хотим вывести идеи Open Source на качественно новый уровень, создав фонд и удобную онлайн платформу
             для работы над любыми открытыми проектами.Мы хотим вывести идеи Open Source на качественно новый
          <div>
             <span class="page-donat-donate-item__cost">12$</span>
             <span class="page-donat-donate-item__date">08.08.2020</span>
          </div>
       </div>
       </div>

    </div>
   
 </section>

  <div class="page-donat-downloadmore">
    <button class="page-donat-downloadmore__btn">Загрузи ещё</button>
  </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
